<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Scraper</title>
    <style>
      /* Universal Styles */
      * {
        margin: 0px;
        padding: 0px;
      }

      html {
        font-size: 62.5%;
      }

      body {
        font-family: "Rubik", sans-serif;
        line-height: 1;
        font-weight: 200;
        color: #000;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <h1>Please enter the website you would like to scrape</h1>
        <h3>Please enter the full link e.g. https://example.com.</h3>
        <form>
          <label>URL</label>
          <input />
          <button>Submit</button>
        </form>
        <p>{{content}}</p>
      </div>
    </header>
  </body>
</html>
